{% extends 'base.html' %}

{% block content %}
<form method="get">

    {{ testerfilter.form}}
    <button type="submit">search</button>
</form>
<table class="table mb-0">



    <thead>
        <tr>
            <th>tester_id</th>
            <th>test_id</th>
            <th>time</th>
            <th>phone_manufacturer</th>
            <th>phone_model</th>
            <th>screen_height</th>
            <th>screen_width</th>
            <th>video_file</th>




        </tr>
    </thead>



    <tbody>
        {% for i in Testersdata %}
        <tr>

            <td>{{i.tester_ID}}</td>
            <td>{{i.test_id}}</td>
            <td>{{i.time}}</td>
            <td>{{i.phone_manufacturer}}</td>
            <td>{{i.phone_model}}</td>
            <td>{{i.screen_height}}</td>
            <td>{{i.screen_width}}</td>
            <td>{{i.video_file}}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}